<h1>Persons</h1>

<p *ngIf="!persons"><em>Loading persons...</em></p>

<table class='table-sm' *ngIf="persons">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Delete</th>            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of persons">
            <td>{{ person.firstName }}</td>
            <td>{{ person.lastName }}</td>
            <td>{{ person.email | elipsis : 10 | uppercase }}</td> 
            <td><button type="button" class='btn btn-default' (click)="delete(person)">Remove</button></td>      
        </tr>
    </tbody>
</table>